<%= render "organizations/organization-header", organization: @rant.organization %>
<%= display_meta_tags og: { title:  "Rant#" + @rant.id.to_s + " - " + @rant.organization.name , description: @rant.body } %>
<%= display_meta_tags twitter: { title:  "Rant#" + @rant.id.to_s + " - " + @rant.organization.name , description: @rant.body } %>

<% title ("Rant#" + @rant.id.to_s).to_s %>

<section class="section">
  <div class="container">
    <%= render "rants/rant", rant: @rant %>

    
    <div class="has-text-centered" style="margin-top: 2em;">
      <%= link_to "Click here to see more rants about " + @rant.organization.name, @rant.organization, class: "button is-info " %>
      
    </div>
  </div>
</section>
