<% content_for :head do %>
<%= display_meta_tags og: { title: @organization.name + " | Spillstreet", description: "Rant about " + @organization.name } %>
<%= display_meta_tags twitter: { title: @organization.name + " | Spillstreet", description: "Rant about " + @organization.name } %>
<% end %>

<% title @organization.name %>
<%= render "organizations/organization-header", organization: @organization %>
<section class="section">
  <div class="container">
    <h2 class = "title is-4">
      Need to rant?
    </h2>
      <%= render "rants/form", organization: @organization, rant: Rant.new %>
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="title is-1 has-text-centered">
      Rants
    </h3>
    <p class = "subtitle has-text-centered">
      <%= @organization.rants.count %> rants so far...
    </p>
    <div class="columns is-multiline">
      <% @rants.each do |rant| %>
      <div class="column is-full">
        <%= render "rants/rant", rant: rant %>
    </div>
      <% end %>
      </div>
  </div>
</section>
